
body {
	margin: 0;
	padding: 0;
	background: #EFEFEF url(images/main-bg.jpg) repeat;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #221D1D;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 25px;
}

a {
	text-decoration: none;
	color: #091478;
}
#wrapper {
	padding: 0;
	background: url(images/main-image-bg.jpg) no-repeat center top;
}

/* Header */

#header {
	width: 940px;
	height: 150px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 960px;
	height: 150px;
	margin: 0px auto 30px auto;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo p {
	text-align: center;
	color: #000000;
}

#logo p a {
	color: #000000;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #054175;
}

/* Menu */

#menu {
	overflow: hidden;
	width: 1000px;
	padding: 0px 0px;
	margin: 0px auto 30px auto;
	background: #064C8A;
	border-radius: 20px 0px 20px 0px;
	font-size: 20px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 15px 40px 15px 40px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background: #05457D;
	color: #FFFFFF;
}

#menu .last {
	border-right: none;
}

/* Page */

#page {
	overflow: hidden;
	width: 940px;
	margin: 0px auto;
	padding: 30px 30px;
	background: #FFFFFF;
	border: 1px solid #D4D4D4;
}

/* Content */

#content {
	float: left;
	width: 600px;
	padding: 10px 0px 0px 0px;
}

/* Footer */

#footer {
	overflow: hidden;
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	padding: 40px 0 15px 0;
	border-top: 1px solid #D4D4D4;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	color: #000000;
}

#footer a {
	color: #000000;
}

#three-columns {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #D4D4D4;
	color: #000000;
}

#three-columns h2 {
	padding: 0px 0px 20px 0px;
	font-size: 30px;
	color: #000000;
}

#three-columns #column1 {
	float: left;
	width: 290px;
	margin-right: 40px;
}

#three-columns #column2 {
	float: left;
	width: 290px;
}

#three-columns #column3 {
	float: right;
	width: 300px;
}

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #064C8A;
	border-radius: 10px 0px 10px 0px;
	color: #FFFFFF;
}

.link-style2 {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 25px;
	background: #064C8A;
	border-radius: 10px 0px 10px 0px;
	font-size: 20px;
	color: #FFFFFF;
}

#welcome {
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #D4D4D4;
	color: #000000;
}

#welcome h2 {
	padding: 0px 0px 20px 0px;
}

#welcome h2 a {
	color: #000000;
}

#welcome a {
	color: #000000;
}

#banner {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
}
#banner img {
	width:1000;
	height:361;
}
#two-columns {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
}

#two-columns #col1 {
	float: right;
	width: 640px;
	color: #000000;
}

#two-columns #col2 {
	float: left;
	width: 320px;
}

#two-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}

#two-columns .image-style {
	width:320;
	height:260;
}

#two-columns .text-style {
	padding-bottom: 10px;
	border: 10px solid #000000;
	text-align: center;
	font-size: 20px;
}


